.accessPic {
    width: 100%;
    height: 150px;
    background: url(../../images/force/access.png) top center / cover no-repeat;
}
.acTitle {
    color: rgb(0, 132, 255);
    padding-left: 2%;
}
.bluebox {
    background-color: rgb(127, 236, 255);
    margin-left: 2%;
    margin-right: 2%;
    border: solid;
    border-color: rgb(0, 132, 255);
}
