.bigmessage {
	overflow: hidden;
}

.bigmessage1 {
	font-size: 100px;
	font-family: YuMincho;
	margin-top: 10%;
	margin-left: 10%;
	// margin: 0%;
}

.bigmessage2 {
	font-size: 100px;
	font-family: YuMincho;
	// margin-top: 10%;
	margin-left: 10%;
	float: left;
}

.bigmessage3 {
	font-size: 100px;
	font-family: YuMincho;
	// margin-top: 10%;
	// margin-left: 10%;
	float: left;
}
// #mainNav {
// 	max-width: 100vw;
// }